<h2> Current messages </h2>
<div class='row'>
  <div class="col-md-4 col-md-offset-6">
  <% if current_user %>
    <a href="/peeps/new" id="new_peep">Add new peep</a>
  <% end %>
  </div>
</div>
<div   class="jumbotron container fluid">
  <div class="row" id="all-peeps">
    <div class="col-md-12 col-md-offset-1">
      <div class="inside">
        <% @peeps.reverse.each do |peep| %>
          <div class='row'>
            <div class="col-md-4"><%=peep.message%>"</div>
            <div class="col-md-2"><%=peep.user.name%></div>
            <div class="col-md-1">@<%=peep.user.username %></div>
            <div class="col-md-2"><%=peep.created_at.strftime('%F %H:%M')%><br></div>
            <%if session["user_id"] %>
              <div class="col-md-2">
                <form action='/peeps/createreply' method='post'>
                <input type='hidden' name='initialpeep_id' value='<%=peep.id%>'>
                <input type='submit' class="btn btn-default" onclick="/peeps/reply" value=' Reply'>
                </form>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>